# Entornos virtuales
benchmarking/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
*.egg
*.log

# Configuración local
.env
*.swp
*.swo

# Resultados de benchmark (solo en out/)
out/
out/**

# Archivos temporales
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
